/* Richard Davies */
/* Data Science */

/* This is a comment in CSS */

/* This is a 
multi line comment */

/* CSS files can be used to access e.g. fonts */
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@900&display=swap');

body { /* We can style any HTML element by using its name - here we're styling the body */
	/* We want text that uses a clean sans-serif font, is usually 16px big and close to black */
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #333;
	line-height: 1.6;
	/* we want a white page, that's centered and not too wide */
	background-color: #fff;
	margin:0 auto;
	max-width: 800px;
	padding-top: 60px;
  }

/* Format my paragraph */
p {
	font-family: "Helvetica";
	font-size: 18px;
	margin: 5px 5px;
	line-height: 22.4px;
	color: #323232;
}

/* Format my heading */
h1 {
	font-family: "Helvetica";
	font-size: 50px;
	color: #000000;
	font-weight: 900;
	margin: 0px 0px 30px 0px;
}
